.footer__social-link {
  text-decoration: none;
  color: var(--background-contrast);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  transition: color .25s ease-in-out;
}

.footer__social-link:hover {
  color: var(--link-hover-color);
}