.form__input {
  margin: 8px 0 32px;
  padding: 0;
  height: 60px;
  text-indent: 20px;
  border: none;
  border-radius: 4px;
  outline: 1px solid var(--accent);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}

.form__input::placeholder {
  color: var(--faded-font-color);
}
.form__input:focus {
  outline: 3px solid var(--accent);
}